<div class="content">
  <div class="wrapper">
    <div class="card-switch">
      <label class="switch">
        <input class="toggle" type="checkbox">
        <span class="slider"></span>
        <span class="card-side"></span>
        <div class="flip-card__inner">
          <div class="flip-card__front">
            <div class="title">Login</div>
            <form (ngSubmit)="onLogin()" class="flip-card__form">
              <input type="email" placeholder="Email" name="email" [(ngModel)]="email" required
                class="flip-card__input">
              <input type="password" placeholder="Senha" name="password" [(ngModel)]="password" required
                class="flip-card__input">
              <button class="flip-card__btn">Entrar</button>
            </form>
          </div>
          <div class="flip-card__back">
            <div class="title">Cadastro</div>
            <form action="" class="flip-card__form">
              <input type="name" placeholder="Nome" class="flip-card__input">
              <input type="email" placeholder="Email" name="email" class="flip-card__input">
              <input type="password" placeholder="Senha" name="password" class="flip-card__input">
              <button class="flip-card__btn">Confirmar</button>
            </form>
          </div>
        </div>
      </label>
    </div>
  </div>
</div>