<app-nav></app-nav>
<div class="container">
  <div class="top-container">
    <button (click)="openModal()">Nova Consulta</button>
  </div>
  
  <div class="card">
    <div>
      <h3>CEPS no raio de {{radiusKm}} KM</h3>
      <table>
        <tbody>
          <tr *ngFor="let cep of cepsInRadius">
            <td>{{ cep }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal-background" *ngIf="showModal"></div>
<div class="modal-container" *ngIf="showModal">
  <div class="modal">
    <h2>Consultar Novo CEP</h2>
    <label for="modalCep">CEP:</label>
    <input type="text" id="centerCep" placeholder="Informe o CEP" [(ngModel)]="centerCep">
    
    <label for="modalRadius">Raio (KM):</label>
    <input type="number" id="radiusKm" placeholder="Informe o raio em KM" [(ngModel)]="radiusKm">
    
    <button (click)="onBuscar()">Consultar</button>
    <button (click)="closeModal()">Fechar</button>
  </div>
</div>